@import '../../scss/variables.scss';
.iphone {
  &__large {
    bottom: 4.4rem;
    width: 45.3rem;
    height: 80.4rem;
    object-fit: contain;
    margin-left: -5.2rem; //To take in mind the shadow of the image
  }

  &__medium {
  }
}
