@import '../../scss/variables.scss';
.header {
  height: 85vh;
  background-image: linear-gradient(
    to bottom,
    $color-primary-light,
    $color-primary-dark
  );
  position: relative;

  &__navigation-container {
    padding-top: 2.7rem;
    display: flex;
    justify-content: space-between;
  }

  &__iphone-container {
    position: absolute;
    bottom: -17.5rem;
  }
  &__main-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 90%;
  }
  &__text-box {
    display: flex;
    flex-direction: column;
    width: 61.8rem;
  }
}
