@import '../../scss/variables.scss';
.buttonDownload {
  &,
  &:link,
  &:visited {
    width: 25rem;
    height: 5rem;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem 2.5rem;
    border-radius: 10rem;
    display: inline-block;
    outline: none;
    //Change for the <button element
    border: none;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 300;
    background: $color-white;
    color: $color-dark-main;
    transition: transform 0.25s, box-shadow 0.25s;
    box-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.1);
    will-change: transform, box-shadow;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0.5rem 0.5rem 2rem rgba($color-black, 0.06);
  }
}
