@import '../../scss/variables.scss';

.gallery {
  padding: 10rem 0;
  background-image: linear-gradient(
    to bottom right,
    $color-primary-light,
    $color-primary-dark
  );

  &__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 25rem;
    text-align: center;
  }
  &__image {
    height: 45rem;
    object-fit: cover;
  }
}
