@import '../../scss/variables.scss';

.gallery {
  padding: 10rem 0;
  background-image: linear-gradient(
    to bottom right,
    $color-primary-light,
    $color-primary-dark
  );

  &__container {
    display: flex;
    // justify-content: center;
  }
  &__image {
    width: 25rem;
    height: 45rem;
    object-fit: cover;
  }
}
