//* Fonts

//* Colors
$color-primary-light: #7cdc86;
$color-primary-dark: #2fac32;
$color-white: #ffffff;
$color-black: #000000;
$color-dark-main: #585b60;
$color-dark-grey: #9da6ac;
$color-light-grey: #f8f9fb;
$color-light-grey-2: #e9ebec;

//* Breakpoints
// -> Large to small
